thesis.acn
thesis.dvi
thesis.aux
thesis.bbl
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.glo
thesis.glsdefs
thesis.ist
thesis.lof
thesis.log
thesis.out
thesis.pdf
thesis.toc
.DS_Store
*.swp
thesis.acr
thesis.alg
thesis.glg
thesis.gls
thesis.lot

Session.vim

*.md
